@use "./variables.scss" as *;

// put your custom CSS here!

body {
  font-family: "Inter", sans-serif;
}

.page {
  max-width: 1400px;
}

article {
  font-size: 1.05rem;
  line-height: 1.8;
}

h1, h2, h3 {
  font-weight: 700;
}

code {
  border-radius: 6px;
}